<h1>Liste des produits</h1>
<ul>
  <li><a href="/products/1">Produit 1</a></li>
  <li><a href="/products/2">Produit 2</a></li>
  <li><a href="/products/3">Produit 3</a></li>
  <li><a href="/products/4">Produit 4</a></li>
  <li><a href="/products/5">Produit 5</a></li>
</ul>